footer {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  footer h3 {
    margin-bottom: 2vh;
  }
  
  footer a {
    padding: 1vh 1vw;
  
  }
  footer a {
    text-decoration: none;
    color: #333
  }
  
  footer a:active, footer a:visited {
    color: #333;
  }
  
  footer a:hover {
    color: #B5C2B7;
  }